html{
    background: black url(backgroundindex.jpg) center center no-repeat; background-size: cover; color: #fff;
    font-family: "Lucida Sans", sans-serif;
}
body{
    display: center;
   
}
      div{
          left: 80em;
          margin: 0rem;
          color:#fff  
        }
        #button:hover{
          background-color: blueviolet;
         }
         h1{
          color: black;
          text-align: center;
          padding: 0;
            }
          .container{
           text-align: end;
            }
          #inregistrare{ 
            text-align: end;
            text-shadow: none;
             }
             
          .intrebare{
            color: #fff;
            text-align: end;
            }
            .ListaLink:hover{ 
              display: block; padding: 0.5em; color: #fff; text-decoration: none; 
              background: #fff; color: black; }
    
      main{
         }
           p{
            text-align: center;
            color:#fff;
            font-size: large;
            text-transform: inherit; left: 2rem;
            }
            a:hover{
              color: aqua;
            }
            @media(main-width:500px) {.container{margin: 2 rem;}}
            header{  }
           .poza-site{ 
            
            margin-left: em;
            width: 
             }
             @media(main-width:500px) {.container{margin: 2 rem;}}
             header{  }