body{
    background-color: aquamarine}
   button{
    color:blueviolet;
    
   }
   div{
    color: brown;
   }
   #first-paragraf{
    position: relative;
    left: 10em;
    color: blue;
   }
   #second-paragraf{
    position: relative;
    left: 10em;
    color: green;
}
   #tree-paragraf{
    position: relative;
    left: 10em;
    color: magenta;
   }
