html{
    background:black url(baground.jpg) center center no-repeat; background-size: cover;
    color: white;
    }

body{
    display: block;
    margin: 0;
    place-items: center;
    font-family: inter, Helvetica, Aria, sans-serif;
    font-size: 24px;
    line-height: 1.5em;
}
  @media(main-width:500px) {body{display: grid;}}

.container{ 
    background-color: rgba(70, 100, 240, 0.8);
    padding: 1rem;
    border-radius: 2rem;
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 1.5em;
}
   @media(main-width:500px) {.container{margin: 2 rem;}}
   header{  }
      .avatar{display: block; float: left;width: 140px; height: auto;
     margin: 0 1em 0 0; border-radius: 50%;}
      .TitlulPaginii{display: block; margin: 0; font-size:clamp(2rem, 6vw,4rem) line-height: 1em;}
   main{

   }
      .ListaLinkuri{display: block; margin: 0; padding: 0; border-top: 1px solid #fff;  }
         .ListaItem{ display: block; margin: 0; padding: 0; border-bottom: 1px solid #fff;  }
            .ListaLink{ display: block; padding: 0.5em; color: #fff; text-decoration: none;  } 
            .ListaLink:hover { background: white; color: black;}
               .ListaTitlu,.ListaText{display: block; margin: 0; padding: 0; font-size: 1em; line-height: 1.5em;}
               .ListaText{  }